<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>AnyCPU</LastUsedPlatform>
    <publishDir>../publish/</publishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
    <environmentVariables>
      <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      <environmentVariable name="CUSTOMCONNSTR_LibraryDbContextConnStr" value="Server=tcp:azwtest.database.windows.net,1433;Database=testdb;User ID=azitowolf;Password=!2Monkeys;Encrypt=true;Connection Timeout=30;" />
      <environmentVariable name="AzureStorageConfig__AccountKey" value="EYM6dnSrWrBlVAthpVZjZaXK+aSPc10gSZZxpTnLt0Ar8xJ1zNztzu/vZdWmgnXwzMlqBOpTtYf529cfZq8JeQ==" />
      <environmentVariable name="AzureStorageConfig__AccountName" value="libraryimagestore" />
      <environmentVariable name="AzureStorageConfig__ImageContainer" value="images" />
      <environmentVariable name="AzureStorageConfig__ThumbnailContainer" value="thumbnails" />
    </environmentVariables>
  </PropertyGroup>
</Project>